.App {
  display: flex;
  justify-content: center;
  background-color: #f8fcffcc;
  align-items: center;
  height: 100vh;
}

.buttonTog {
  border: "1px solid gray";
  border-radius: 15px !important;
  padding: 10px !important;
  font-size: 17px !important;

}

.butonAddTask {
  position: "absoulte" !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-sizeMedium.MuiButton-colorPrimary.css-1e47jp6-MuiButtonBase-root-MuiButton-root {
  top: 50% !important;
}

.iconTask {
  font-size: 26px !important;
}

.actionButtons {
  position: absolute !important;
  top: 37px !important;
  right: 20px;
}

/* .MuiCardContent-root.css-15q2cw4 {
  height: 95vh;
} */